import React from 'react';

interface {{pascalCase name}}Props {
className?: string;
}

export const {{pascalCase name}}: React.FC<{{pascalCase name}}Props> = ({
    className = ''
    }) => {
    return (
    <div className={`{{dashCase name}} ${className}`.trim()}>
        <h2>{{pascalCase name}}</h2>
        <p>{{pascalCase name}} component</p>
    </div>
    );
    };
    export default {{pascalCase name}};